/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body{
    font-family: 'K2D', sans-serif;
font-family: 'Mali', cursive;
font-size: 18px;
vertical-align: middle;
}
header {
    background-color: #2B7Cff;
    text-align: center;
    padding: .15rem;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
header > img {
    display: inline-block;
    width: 80px;     
    height: auto;
    vertical-align: middle;
    position: relative;
   
}
.headertext {
    display: inline-block;
    vertical-align: middle; 
}
.headertext h1 {
    font-size: 1.5rem;
    margin: 15px auto;
    color: #000;
}
.subheading {
    font-size: 1rem;
    color: #000;
    font-style: italic;  
    margin-bottom: 15px;
}
.currentconditions {
    display: none;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}
nav {
    background-color: #000;
    font-family: 'Mali', cursive;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #2B7Cff;
    border: solid;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

nav ul li.active a {background: rgba(0, 0, 0, .2); color: #fff;}
nav ul li a:hover {background: rgba(0, 0, 0, .4); color: #143E7F;}

nav ul.hide {display: none;}

main h2 {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

main figure {margin: 0 0 .2rem 2%; width: 96%;}
main figure img {width: 100%}

.weathersummary {
    border: 1px solid;
    width: 150px;
    background-color: bisque;
    display: inline-block;
    position: relative; 
    top: -160px;
    margin: 2%;
    left: 10px;
}

.weathersummary h3 {
    font-size: 1rem;
    margin: 0;  
}
section .weatherdetails {
    font-size: .8rem;
    margin: 2%;
}
section div .value {
    display: block;      
}

.forecast {
    display: none;
}

footer {
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: .7rem;
    padding-top: 5px;
    margin-top: auto;
    flex-shrink: 0;        
}
.town-article {
    margin: 0 0 .2rem 2%;
    width: 96%;
    position: relative;
    top: -150px;
}
.town-article img {width: 100%}










































/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

} /*end medium */





/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

} /*end large */