/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    
    header > img {
        height: 15vw;
        width: 200px;      
        position: relative;
        left: 180px;
    }
    .headertext {
        position: relative;
        left: 250px;
    }
    .currentconditions {
        display: flex;
        margin: 1rem 0 1rem 35rem;
        padding: 1.2rem;
        position: relative;
        right: 250px;
        
    }   
    .currentconditions img{        
        width: 150px;       
    }
    .currentconditions p{        
        font-size: 20px;
        position: relative;
        top: 35px
    }
    nav button { display:none; }      /* hamburger button does not need to be shown */

    nav ul.hide {display: flex;}
    
    nav ul {margin-left: 2%;} 
   
    nav ul li {
        display: flex;
        flex-direction: row;       
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, .3);
        padding: .6rem 1rem;
    }   
    .town img {
        position: relative; 
        width: 99%;     
        height: 600px;
        

    }
    .town section {
        position: relative;
        top: -530px;
        left: 20px
    }    
    .town-article {
        display: block;
        border: 1px solid #333;
        position: relative;
        top: -220px;
    }
    .town-article img {
        position: relative;
        float: right;
        width: 50%;
        top: -50px;
    }
    #gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    #gallery figure {
        grid-gap: 0;
        padding-bottom: 15px;
    }
    #gallery img {
       
        margin-right: 1rem;
        width: 100%;
        height: 330px;
    }
    #gallery figure:hover {
        box-shadow: 5px 5px 10px #044068;
    }

    /*Storm Center Specifics*/    
    #strm-cntr form textarea {
        width: 30%;   
    } 
    
} /*end large */





        

  
