@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

//colors
$header-background-color: #6495ED;
$article-background-color: white;
$main-background-color: #FAEBD7;
$active-color: #DEB887;
$color: black;

//variables
//set breakpoint sizes
$break-small: 40em;
$break-large: 40em;


  //mixins

@mixin breakpoint($break) {
    @if $break == large  {
        @media (min-width: $break-large) { @content; }
    }
    @else if $break == small {
        @media (max-width: $break-small) { @content;}
   }   
}

 body {
     @include breakpoint(small) {
         margin: 0;
         font-family: Arial, Helvetica, sans-serif;}
     @include breakpoint(large) {
         font-family: Arial, Helvetica, sans-serif;
         margin: auto;
         max-width: 700px;}
    }
      
  header {
     @include breakpoint(small) {display: inline-block;
      background-color: $header-background-color;
      text-align: right;
      width: 100%;}
     @include breakpoint(large) { 
        background-color: $header-background-color;
        text-align: right;
        position: fixed; 
        z-index: 1000;
        top: 0;
        bottom: 0;
        width: 200px;}
    }
  hr {
     @include breakpoint(small) {width: 70%;
      margin-right: 20px;}
     @include breakpoint(large) {width: 80%;
        margin-right: 20px;}
  }
  ul {
      list-style-type: none;
    }
 header a { 
    &:link, &:visited {
      display: block;
      text-decoration: none;
      margin-right: 20px;
      padding: 5px; 
      color: $main-background-color;}
    }
  li:hover {
      background-color: $article-background-color;
      text-decoration: underline;}
  main {
      @include breakpoint(small) {
        display: flex;
        flex-direction: column;
        background-color: $main-background-color;
      }
      @include breakpoint(large) {
        display: flex;
        flex-direction: column;
        background-color: $main-background-color;
        padding-left: 200px;
        margin: 0 0 0 15px; 
      }
  }  

 article {
     @include breakpoint(small) {
         background-color: $article-background-color;
         text-align: left;
         padding-left: 20px;
         line-height: 1;
         font-size: 14px;
         border: 1px solid $article-background-color;
         margin: 30px 15px 15px 30px;
         margin-right: 20px;
         box-shadow: 4px 4px 5px 0px rgb(179, 173, 173,1); }
     @include breakpoint(large) {   
         display: block;
         background-color: $article-background-color;
         text-align: left;
         line-height: 1;
         font-size: 14px;
         border: 1px solid $article-background-color;
         margin: 25px 30px 20px 30px;
         box-shadow: 4px 4px 5px 0px rgb(179, 173, 173,1);
         padding-left: 25px;
         width: 80%; }
  }
  .post-date {
     @include breakpoint(small) {
         margin-top: 20px;
         text-align: left; }
     @include breakpoint(large) {
        margin-top: 25px;
     }
  }
  .post-content {
     @include breakpoint(small) {
         margin-top: -10px; 
         padding-right: 20px;}  
     @include breakpoint(large) {
         margin-top: -10px;
         padding-right: 35px;
      } 
  }
  figure img {
     @include breakpoint(small) {
         width: 100%;
         margin-top: 30px; }
     @include breakpoint(large) {
         display: block;
         margin-left: auto;
         margin-right: auto;
         margin-top: 50px;
         text-align: center;
         width: 100%;
         height: auto;
     }    
  }
   h2 a { 
     &:link,  &:visited {
        @include breakpoint(small) {
            color: $color;
            text-decoration: none;
            font-family: Lora;} 
        @include breakpoint(large) {
            color: $color;
            text-decoration: none;
            font-family: Lora;}
        }
     &:hover {
        @include breakpoint(small) {
            color: $header-background-color;
            text-decoration: underline;}
        @include breakpoint(large) { 
            color: $header-background-color;
            text-decoration: underline;} 
        }   
    &:active { 
        color: $active-color; }
    }
  p {
      font-size: 12.5px;
  }
  p a { 
    &:link, &:visited {
      color: $header-background-color; 
      text-decoration: none;}
    &:hover {
      text-decoration: underline;}
    &:active {
      color: $active-color;  }
    }
